@charset "UTF-8";


body{
font-family: 'Quicksand', sans-serif;
background-color: #fefae0;
color: white;
}

h1{
font-family: 'Quicksand', sans-serif;
font-weight: bold;
font-size: 40px;
background-color: #a2d2ff;
background-size: 80px 80px;
}

h2{
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 25px;
}

h4{
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 20px;
}

div{
font-family: 'Quicksand', sans-serif;
font-weight: 400;
font-size: 20px; background-color: #bde0fe;
}
