@charset "UTF-8";

html {font-size: 100%;}

h1{
font-weight: 700;
font-size: 40px; background: rgba(0, 128, 0, 0.3);
}
h2{
font-weight: 500;
font-size: 25px;
}
h4{
font-weight: 500;
font-size: 20px;
}
div{
font-weight: 400;
font-size: 20px; background: rgba(0, 128, 0, 0.3);
}
