@charset "UTF-8";

body{
font-family: 'Quicksand', sans-serif;
background-color: #edede9;
color: #a2d2ff;
}

h1{
font-family: 'Quicksand', sans-serif;
font-weight: bold;
font-size: 30px;
background-color: #a2d2ff;
color: #edede9;

}

h2{
font-family: 'Quicksand', sans-serif;
font-weight: 500;
font-size: 30px;
color: #a2d2ff;
}
